<div id="group_form" ng-show="sugest_species" class="formedgroup forma mb45px cajas2">
  <%= simple_form_for @species_group do |f| %>

        <div><h3>Sugerir Adición de especie al Grupo</h3></div>
        <%= f.hidden_field :group_id, :value =>  @group.id %><%= f.hidden_field :species_group_state_id, :value => 2 %>
        <%= f.hidden_field :species_id, :id => "species_id" %>
        <%= f.collection_radio_buttons :class_id, [[1, 'Anfibios'] ,[2, 'Aves'], [3, 'Invertebrados'], [4, 'Mamíferos'], [5, 'Peces'], [6, 'Reptiles'], [7, 'Plantas']], :first, :last, :checked => 1 %>
        <%= text_field_tag :query, '', :id => 'search_field', :placeholder => 'Ingrese nombre de la especie', :collection => 'Species.SpeciesHelper.get_species_name', :include_blank => false, :rel => 'autocomplete' %>
        <%= f.submit "Enviar", :class=> "sugspp nobtn" %>
        <%= f.hidden_field :class_id, :id => "class_id", :value => 1 %>
  <% end %>

</div>

<script>
	$('input:radio').change(function(){
		$("#class_id").val($("form input[type='radio']:checked").val());
    	$('#search_field').val('');
    	$('#search_field').typeahead('setQuery', '');
	});
</script>