Ha recibido un mensaje de <%= @admin_name %>, administrador del grupo <b><%= @group_name %></b> desde la aplicaci칩n BioModelos:<br/>
<br/>
Hora de recepci칩n: <%= @datetime.strftime("%F %r") %><br/>
<br/>
Asunto: <b><%= @subject %></b><br/>
Contenido: <%= @message %><br/>
<br/>
<br/>
<br />
Este mensaje ha sido generado de forma autom치tica por lo cual le agradecemos no responder este correo. Ante cualquier inquietud puede comunicarse con nosotros al correo electr칩nico biomodelos@humboldt.org.co o desde la forma de contacto en <a href="http://biomodelos.humboldt.org.co/home/feedback">BioModelos</a>

