Se ha subido un modelo a BioModelos con la siguiente información:<br/>
<br/>
Hora de recepción: <%= @datetime.strftime("%F %r") %><br/>
<br/>
<b>Experto:</b> <a href="http://biomodelos.humboldt.org.co/users/<%= @user.id %>"><%= @user.name %></a><br/>
<b>E-Mail:</b> <%= @user.email %><br/>
<b>Archivo:</b> <%= @publication.files %><br/>
<b>Licensia CC:</b> <%= @publication.cc_license %><br/>
<b>Visualización:</b> <%= @publication.records_vis %><br/>
<b>Contacto SiB:</b> <%= @publication.sib_contact %><br/>
<b>Atlas de la Biodiversidad:</b> <%= @publication.atlas_agreement %><br/>
